
{% extends 'listings/base.html' %}

{% block content %}
     <h1>Hello Django !</h1>
    <p>Mes groupes préférés sont :<p>
    <ul>
        <p>J'ai {{ bands|length }} groupes préférés.</p>
        {% for band in bands %}
        <li>name: {{band.name }} <br /> 
            genre: {{band.genre}} <br />  
            Biographie: {{band.biography}} <br /> 
            année de formation: {{band.year_formed}} <br />  
            status: {{band.active}} <br /> 
            page officielle: {{band.official_homepage}} <br /></li>
        {% endfor %}
    </ul>
    <p>
        J'ai..
        {% if bands|length < 5 %}
        peu de
        {% elif bands|length < 10 %}
        quelques
        {% else %}
        beaucoup de
        {% endif %}
        groupes préférés.
    </p>
{% endblock %}            