{% extends 'listings/base.html' %}

{% block content %}
            <h1>Voici la liste des annonces</h1> 
            <p>Mes groupes annonces :<p>
            <ul>
            {% for annonce in annonces %}
            <li> 
                le titre: {{ annonce.title }} <br/>
                la description :{{ annonce.description }}</br>
                le status :{{ annonce.sold}}</br>
                le type :{{ annonce.type}}</br>
            </li>
            {% endfor %} 
            </ul>
{% endblock %}
                    